<%- await include("partialsl/header", { bot, user, title: "Not found", is_logged, dashboardDetails, dashboardConfig, hasClientSecret, page: "404"}) %>

<div class="container-sm center" style="margin-top: 25px;">
    <div class="d-grid gap-2 col-6 mx-auto">
        <h1>Error</h1>
        <% if (typeof(err) == undefined) {
        %>
            <h2>Not found</h2>
        <a class="btn btn-secondary" href="/">Home</a>
        <% } else {
        if (err == "ahq_dash_perms_error") {%>
            <h2>You don't have permission to execute this</h2>
            <a class="btn btn-secondary" href="/selector">Dashboard</a>
        <% } else if (err == "ahq_dash_error") {%>
            <h2>Server Not found</h2>
        <a class="btn btn-secondary" href="/selector">Dashboard</a>
        <% } else { %>
        <h2>Not found</h2>
        <a class="btn btn-secondary" href="/">Home</a>
        <% } 
            }
        %>
    </div>
</div>
<%- await include("partialsl/footer") %>
